<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310906927454-5qqst7ho0t9o9p4mbvgehps8bj6ija1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310906927454-5qqst7ho0t9o9p4mbvgehps8bj6ija1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBm53wdBaRdfyMxFC6A3vvlKNAIQV9sBhs</string>
	<key>GCM_SENDER_ID</key>
	<string>310906927454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.com.unity.template.mobile2D</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-ba967</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-ba967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310906927454:ios:b40ab1dae2e3d7c842b7cf</string>
</dict>
</plist>